<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laba4</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}" href="../../css/styles.css"/>-->
</head>
<body>
<div th:if="${username != 'anonymousUser'}">
    <form th:action="logout" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</div>
<div><a th:href="@{/messages}">Отзывы</a></div>
    <div class="table-container">
    <table class="table table-striped" id="table-custom">
    <tr th:each="image : ${imageList}">
        <td th:text="${image.path}"></td>
        <td th:text="${image.viewing}"></td>
        <td><a th:href="@{/showImage?imageId={id}(id=${image.id})}"><img th:src="@{${'images/' + image.path + ''}}" width="96" height="50" /></a></td>
    </tr>
    </table>
    </div>
</body>
</html>