<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laba4</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}" href="../../css/styles.css"/>-->
</head>
<body>
<div th:if="${username != 'anonymousUser'}">
    <form th:action="logout" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</div>
<div><a th:href="@{/gallery}">Галерея</a></div>
<img th:src="@{${'images/' + image.path + ''}}" width="450" height="500" />
        <div th:text="${image.path}"></div>
        <div th:text="${image.viewing}"></div>
</body>
</html>