<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laba4</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}" href="../../css/styles.css"/>-->
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form name='f' th:action="@{/j_spring_security_check}" method="post">
    <div>
        <label> Имя: <input type='text' name='username' value=''>
            <br/>
        </label>
        <br/><br/>
        <label> Пароль: <input type='password' name='password' />
            <br/>
        </label>
        <br/>
    </div>
    <input type="submit" value="Войти"/>
    <br/>
</form>
<div class="menu"><a th:href="@{/registration}">Зарегистрироваться</a></div>
</div>
</body>
</html>