<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laba4</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}" href="../../css/styles.css"/>-->
</head>
<body>
<div th:if="${username != 'anonymousUser'}">
<form th:action="postMessage" th:object="${message}" method="post">
    <div>
        <label> Сообщение:
            <input type="text" th:field="*{text}"/></label><br/>
        <label th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="validation-message"></label>
        <br/>
    </div>
    <input type="submit" value="Добавить"/>
    <br/>
</form>
    <form th:action="logout" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</div>
<div><a th:href="@{/gallery}">Галерея</a></div>
    <div class="table-container">
    <table class="table table-striped" id="table-custom">
    <tr th:each="message : ${messageList}">
        <td th:if="${message!=null && message.user!=null}" th:text="${message.user.name}"></td>
        <td th:text="${message.text}"></td>
        <td><a th:href="@{/deleteMessage?messageId={id}(id=${message.id})}">Удалить</a></td>
    </tr>
    </table>
    </div>
</body>
</html>