<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laba4</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}" href="../../css/styles.css"/>-->
</head>
<body>

<form th:action="saveUser" th:object="${user}" method="post">
    <div>
        <label> Имя: <input type="text" th:field="*{name}"/>
            <br/>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
        </label>
        <br/><br/>
        <label> Пароль: <input type="text" th:field="*{password}"/>
            <br/>
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
        </label>
        <br/><br/>
        <label> Email: <input type="text" th:field="*{email}"/><br/>
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
        </label>
        <br/>
    </div>
    <input type="submit" value="Добавить"/>
    <br/>
</form>
</div>
</body>
</html>